/.git
/.github
/.idea
/.vscode
/node_modules
/vendor
/public/storage
/storage/*.key
/.env
/.env.backup
/.env.production
/.phpunit.result.cache
/npm-debug.log
/yarn-error.log
Homestead.json
Homestead.yaml
auth.json
*.md
!README.md
