/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/theme
composer.lock
instructions.md
RAILWAY_TROUBLESHOOTING.md
RAILWAY_MYSQL_FIX.md
RAILWAY_DEPLOY.md
PULL_REQUEST_TEMPLATE.md